<!-- Top Bar -->
<app-gmail-top-bar
  [user]="userDetails"
  [logoImage]="logoImage"
></app-gmail-top-bar>

<!-- Main Container -->
<div class="d-flex flex-grow-1">
  <!-- Sidebar -->
  <app-gmail-side-bar
    [activeMenu]="defaultActiveMenu"
    (menuClickEvent)="setActiveMenu($event)"
    (composeMail)="openComposeMail()"
    [menus]="menusList"
  ></app-gmail-side-bar>

  <!-- Main Content -->
  <div
    class="flex-grow-1 d-flex flex-column"
    style="overflow-y: auto; height: calc(100vh - 60px)"
  >
    <!-- Toolbar -->
    <app-gmail-actions></app-gmail-actions>

    <!-- Email List -->
    <app-gmail-display-list
      [isTabChange]="false"
      [menuName]="defaultActiveMenu"
      [emails]="emails"
    ></app-gmail-display-list>
  </div>
</div>

<!-- Compose Box -->
<app-gmail-compose
  *ngIf="isComposeMail"
  (closeComposeMail)="closeComposeMail()"
  [senderMail]="userDetails?.userEmail || ''"
></app-gmail-compose>
