<ng-container *ngIf="emails != undefined && emails.length != 0; else noemail">
  <ng-container
    *ngFor="
      let email of emails | displayOrder : 'sentDate' : 'desc';
      let i = index
    "
  >
    <div class="p-3">
      <div
        class="d-flex align-items-center justify-content-between border-bottom py-2"
      >
        <div class="d-flex align-items-center">
          <input type="checkbox" class="form-check-input me-2" />
          <strong>To: {{ email.recipientEmail }}</strong> - {{ email.subject }}
        </div>
        <span>{{
          commonService.convertUtcToLocalTime(email.sentDate.toString())
        }}</span>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #noemail>
  <div class="p-3">
    <div
      class="d-flex align-items-center justify-content-between border-bottom py-2"
    >
      <div class="d-flex align-items-center">
        <strong>{{ menuName }} is empty</strong>
      </div>
    </div>
  </div>
</ng-template>
